.section {
  margin-bottom: 8rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;

  letter-spacing: -0.02em;

  margin: 0 0 2.5rem;
}

.body {
  max-width: 42rem;
}

.body p {
  margin: 0 0 2rem;

  font-size: 1.18rem;
  line-height: 1.9;
}

.body p:last-child {
  margin-bottom: 0;
}

.body em {
  font-style: italic;
}

.body strong {
  font-weight: 600;
}